@mixin zeroSize {
    width: 0;
    height: 0;
}



@mixin noStar($color:rgb(247, 247, 247), $size:100px) {
    @include zeroSize;
    margin: $size/2 0;
    position: relative;
    display: block;
    color: $color;
    border-right: $size solid transparent;
    border-bottom: $size/100*70 solid $color;
    border-left: $size solid transparent;
    transform: rotate(35deg);
    &:before {
        @include zeroSize;
        border-bottom: $size/100*80 solid $color;
        border-left: $size/100*30 solid transparent;
        border-right: $size/100*30 solid transparent;
        position: absolute;
        top: -$size/100*45;
        left: -$size/100*65;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }
    &:after {
        position: absolute;
        display: block;
        color: $color;
        top: $size/100*2;
        left: -$size/100*105;
        @include zeroSize;
        border-right: $size solid transparent;
        border-bottom: $size/100*70 solid $color;
        border-left: $size solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
 }



@mixin star($color:yellow, $size:100px) {
    @include zeroSize;
    margin: $size/2 0;
    position: relative;
    display: block;
    color: $color;
    border-right: $size solid transparent;
    border-bottom: $size/100*70 solid $color;
    border-left: $size solid transparent;
    transform: rotate(35deg);
    &:before {
        @include zeroSize;
        border-bottom: $size/100*80 solid $color;
        border-left: $size/100*30 solid transparent;
        border-right: $size/100*30 solid transparent;
        position: absolute;
        top: -$size/100*45;
        left: -$size/100*65;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }
    &:after {
        position: absolute;
        display: block;
        color: $color;
        top: $size/100*2;
        left: -$size/100*105;
        @include zeroSize;
        border-right: $size solid transparent;
        border-bottom: $size/100*70 solid $color;
        border-left: $size solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
 }



body{
    margin: 0;
    padding: 0;
    background: rgb(184, 181, 181);
}

.Miancontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;

   
}

#sidebar{
    width: 300px;
    height: 100vh;
    background: rgb(87, 85, 85);
    overflow: auto;
    border: 1px solid gray;
    white-space: space pre;
}

#container{
    width: 1250px;
    height: 750px;
    background-image: url('../images/shutterisland.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 50px;
    box-shadow:20px 20px 10px rgba(0, 0, 0, 0.466); 
}
.innercontainer{
    width: 100%;
    height: 100%;
    background: rgba(136, 131, 131, 0.8);
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul{
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 30px;
    }

    .text{
        width: 600px;
        margin-right: 0px;

        h1{
            margin: 0;
            padding: 40px;
            color: white;
            text-transform: uppercase;
            text-shadow:5px 5px 10px black;
         }
         h3{
             margin: 0;
             padding: 10px 40px 40px 40px;
             color: white;
             text-transform: uppercase;
             text-shadow:5px 5px 10px black;
          }
         
         p{
             padding-left: 40px;
             color: white;
             text-shadow:5px 5px 10px black;
         }
    }

    img{
        height: 400px;
        width: 300px;
        margin: 70px;
        box-shadow:20px 20px 10px rgba(0, 0, 0, 0.466); 
    }
   
   
    
}






.sidechild{
    height: 300px;
    width: 100%;
    background: gray;
    border: 1px solid black;
    margin: 10px 0px 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    h2{
        
        padding-top: 5px;
        margin: 0px;
        color: white;
    }
    p{
        color: white;
        padding: 5px 5px 5px 0px; 

    }
    ul{
        padding-left: 0px;
        width: 250px;
        display: flex;
        flex-direction: row;
    }

    

    &:hover{
        background: rgb(78, 76, 76);
    }


}

.star{
    @include star($size:10px);
        margin-left: 0px;
}

.bigStar{
    @include star($size:25px);
    margin-left: 5px;
}



.noStar{
    @include noStar($size:10px );
}


.bigNoStar{
    @include noStar($size:25px );
    margin-left: 5px;
}







